@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.section1, header {
    background-image: url(../img/bannerLegal.jpg); /* Caminho para sua imagem de fundo */
    background-size: cover; /* Ajuste a imagem de fundo para cobrir todo o elemento */
    background-position: center;
    padding: auto; /* Centralize a imagem de fundo */ /* Adicione preenchimento se desejar */
    margin: 0; /* Certifique-se de que não haja margem */
}

main{
    width: 100vw;
    height: 100vh;
}
.section1{
    width: 100%;
    height: 100%;
    min-height: 90vh ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1-imagens{
    margin: 5% 0;
}
.informacoes-section1{
    font-family: "Bangers", system-ui;
    color:white;
    text-align: center;
    line-height: 50px;
}

.informacoes-section1 h2{
    font-size: 38px;
}

.informacoes-section1 p{
    font-size: 27px;
}
.section1-mudancaDeCor-rosa{
    color: #FF00F5;
}
.section1-mudancaDeCor-azul{
    color: #00C2FF;
}

.localizacao-evento{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.participe{
    border: 2px solid #FF00F5;
    background-color: rgba(255, 0, 255, 0.1);
    border-radius: 10px;
    width: 9.5em;
    display: flex;
    justify-content: center;
    padding: 20px 40px; 
    margin: 18px auto;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15%;
    
} .participe a{
    text-decoration: none;
    color: #fff;
} .participe:hover{
    background-color: #FF00F5;
    transition: 1.3s;
}

@media screen and (max-width: 768px) {
    .header{
        display: none;
    }
    .PAQconGrafitada{
        width: 250px;
    }
    .participe{
        width: 7em;
        height: 35%;
        padding: 10px 30px;
    }
    .section1-imagens{
        margin: 15% 0 ;
    }
}

@media screen and (max-width: 380px) {
    .PAQconGrafitada{
        width: 200px;
    }
}