

body{
  width: 100vw;  
  height: 100vh;
}
header{
    display: block;
}
.itens{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;

            & .itens-PaqCon{
                width: 50%;
                text-align: center;
            } .itens-PaqCon h2{
                color: brown;
                font-size: 2.4em;
            }.itens-topicos {
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 1.4em;
            } .itens-topicos-ancora{
                border: 0px solid black;
                padding: 0.7em;
                border-radius: 2px;
                color: gray;
                text-decoration: none;
            } .itens-topicos-ancora:focus{
                background-color: brown;
                color: white;
            }
        
}

.section-1{
    display: flex;
    justify-content: space-between;
}